.submitBtn:focus, select:focus, input:focus{
  outline: none;
}

body{
  background: #121212;
  font-family: 'Nunito', sans-serif;
  color: #eee;
  font-size: 25px;
  font-weight: 700;
}

.wrapper{
  width: 475px;
  background: #202020;
  margin: 50px auto;
  padding: 40px 50px;
  border-radius: 20px;
}

.inline{
  display: inline;
  line-height: 50px;
}

input, select{
  border: none;
  font-family: 'Nunito';
  border-bottom: 3px dashed #121212;
  color: #eee;
  background: #202020;
  font-size: 25px;
  margin: 0px 10px;
  border-radius: 0px;
  font-weight: 700;
}

select::-ms-expand {
    display: none;
}

.bill{
  width: 70px;
  padding-left: 20px;
}

.service{
  width: 150px;
}

.party{
  width: 70px;
}

.dollar{
  margin-top: 8px;
  color: #eee;
  position: absolute;
  margin-left: 10px;
}

.response{
  font-style: italic;
  font-weight: 300;
}
